.food-container {
    margin: 10px 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 500px;
    background-color: rgba(240, 248, 255, 0.575);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Starting with a subtle box shadow */
    transition: box-shadow 0.3s ease-in-out; /* Adding transition for box-shadow */
  }
  
  .food-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Making the box shadow more prominent on hover */
  }

  .food-image-link {
    flex: 0 0 150px;
  }
  
  .food-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .food-details {
    padding-left: 20px;
  }
  
  .food-name {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .food-phone,
  .food-price,
  .food-rating,
  .food-review-count,
  .food-status {
    margin: 5px 0;
  }
  
  .food-address {
    margin-top: 10px;
  }
  
  .food-address-line {
    margin: 0;
  }
  
  .StarIcon {
    color: 'red';
  }

  .review-rating-star {
    display: flex;
    align-items: center;
  }

  .review-rating {
    margin-left: 10px;
    display: flex;
    column-gap: 5px;
  }

  @media (max-width: 576px) {
    .food-image {
      width: 150px;
      height: 150px;
    }

    .review-rating-star {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .review-rating {
      margin-left: 0px;
    }
  }