/* Wheel.css */

.wheel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 100px;
  }

  .wheel-container h1 {
    margin-left: -300px;
    color: #333;
    font-size: 35px;
    background-color: wheat;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  #canvas {
    width: 800px;
    cursor: pointer;
  }

  #wheel {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wheel-container button {
    width: 150px;
    margin-left: -300px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .wheel-container button:hover {
    background-color: #0056b3;
  }

/* Medium screens (tablets) */
@media (max-width: 768px) {
  #wheel {
    margin-left: 10px;
    align-items: start;
    justify-content: start;
    width: 100%;
  }
  #canvas {
    width: 100%;
  }
  .wheel-container h1 {
    font-size: 100%;
  }
}

/* Small screens (mobile) */
@media (max-width: 576px) {
  .wheel-container {
    justify-content: start;
    align-items: start;
  }
    #wheel {
    align-items: start;
    justify-content: start;
    width: 100%;
  }

  .wheel-container button {
    margin-left: 150px;
  }

  .wheel-container h1 {
    margin-left: 10px;
    color: #333;
    font-size: 100%;
  }

  #canvas {
    width: 100%;
  }
}