/* Form.css */

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-container input,
  .form-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-container select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    padding-right: 40px;
  }
  
  .form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
.foodCravingInputandButton button {
    margin-left: 20px;
    background-color: #73a643;
}

.foodListContainer {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.foodListContainer p {
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
    padding: 3px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}


.suggestionsContainer {
    margin-top: 10px;
  }
  
  .suggestionsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestionsList li {
    background-color: #f2f2f2;
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestionsList li:hover {
    background-color: #e0e0e0;
  }
  