@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f0f0f0;
    background-image: url("assets/bacvkground-image.jpeg");
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-repeat: repeat; /* Repeat the pattern */
  }
  
